<h1> Welcome! </h1>
<h2> If you tell me your name, I can say hi! </h2>
<form action="/greet" method="POST">
  user_name: <input type="text" name="user_name"><br>
  <input type="submit" value="Submit">
</form>